<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-widht, initial-scale=1.0" />
    <title>Add Queston</title>
    <link rel="stylesheet" href="/src/styles.css" />
  </head>
  <body>
    <h1 id="title">Add Queston</h1>
    <thead>
      <th>Question</th>
      <th></th>
    </thead>
    <div *ngIf="question">
      <h2>{{ question.questionText }}</h2>
    <div>
      Question:

      <button type="button" class="next" (click)="initNewHero()">Init Question</button>
      <app-add-question [question]="QuestionToEdit" (questionUpdated)="updateQuestionList($event)"></app-add-question>

      <input [(ngModel)]="question.questionText" placeholder="Question Text" />
      <input [(ngModel)]="question.rightAnswer" placeholder="RightAnswer Text" />
    </div>
    <button (click)="createQuestion(question)" *ngIf="!question.id">
      Create Question
    </button>
  </div>
</body>
</html> -->


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-widht, initial-scale=1.0" />
    <title>Add Queston</title>
    <link rel="stylesheet" href="/src/styles.css" />
  </head>
  <body>
    <h1 id="title">Add Queston</h1>

      <thead>
      </thead>
      <div>
        Question:
        <input type= "question.questionText" placeholder="Question Text" />
        <input type ="question.rightAnswer" placeholder="RightAnswer Text" />
        <!-- <button type="button" class="next" (click)="updateQuestionList()">Update Question</button> -->
        <app-add-question [question]="QuestionToEdit" (questionUpdated)="updateQuestionList($event)"></app-add-question>
        <!-- <button type="button" class="submit" (click)="updateQuestionList()">Update Questions</button> -->
        <!-- <input type="button" class="btn btn-info w-75" value="Update Questions"  (click)="updateQuestionList()"/> -->
      </div>
</body>
</html>


