<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-widht, initial-scale=1.0" />
  <title>Add Queston</title>
  <link rel="stylesheet" href="/src/styles.css" />
</head>

<body>
  <div class="site_column_menu">

    <h1 id="title">Add Queston</h1>
    <div class="site_text_menu">
      <button (click)="initNewQuestion()">Create New Question</button>
      <button (click)="goBack()">Back</button>
      <table>
        <tbody>
          <tr *ngFor="let question of questions">
            <td>{{ question.questionText}}</td>
            <td>{{ question.rightAnswer}}</td>
          </tr>
        </tbody>
      </table>
      <app-create-question [question]="questionToEdit" (questionsUpdated)="initNewQuestion()"></app-create-question>
    </div>
  </div>
</body>

</html>
