<!DOCTYPE html>
<html lang="en">

<head>
  <nav>
    <a routerLink="menu"> </a>
    <a routerLink="trivia-game"></a>
  </nav>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-widht, initial-scale=1.0">
  <title> Quiz Game</title>
  <link rel="stylesheet" href="/src/styles.css">
</head>

<body>
  <h1 id="title"> Quiz Game </h1>
  <div class="buttons">
    <button type="button" (click)="btnClick()">Start</button>
    <button type="button" (click)="btnClick()">Add Question</button>
    <!-- <button type="button"
      class="next">Add Answers</button> -->
  </div>
  <div id="scoreboard">
    <h2 id="score"></h2>
  </div>
</body>

</html>