* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  background: linear-gradient(
      115deg,
      rgba(101, 151, 209, 0.8),
      rgba(202, 102, 211, 0.5)
    ),
    url(src/app/Images/Menu.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
img {
  width: 5.5rem;
  height: 5.2rem;
  border-radius: 50%;
}
.img {
  position: fixed;
}
#title {
  text-align: center;
  padding: 0.8rem 0;
  font-size: 3rem;
  color: rgb(255, 255, 255);
  background: rgba(78, 79, 77, 0.311);
}

#questionaddinput {
  color: #121212;
    display: block;
    width: 90%;
    height: 44px;
    padding: 5px 5%;
    border: 1px solid #ccc;
    -moz-border-radius: 27px;
    -webkit-border-radius: 27px;
    border-radius: 27px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #fff;
    font-size: 105%;
    letter-spacing: .8px;
}

#questiontitle {
  text-align: center;
  padding: 0.8rem 0;
  font-weight: bold;
  font-size: 2rem;
  color: rgb(47, 47, 47);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#questioncollor {
  text-align: center;
  padding: 0.8rem 0;
  font-size: 2rem;
  color: rgb(255, 255, 255);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.answers {
  margin: 3rem auto;
  width: 50vw;
  padding: 5rem;
  background: rgba(178, 184, 173, 0.171);
  cursor: default;
  border: 1rem;
  text-align: center;
  border-radius: 22px;
}
#answer {
  margin-bottom: 1rem;
}
.option {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  border-bottom: solid 0.1rem;
  width: 20rem;
  background: rgb(255, 255, 255);
  border-radius: 0.5rem;
  text-align: center;
}
ol {
  position: relative;
  padding: 0 1.5rem;
  color: rgba(1, 73, 73);
}
span {
  display: block;
  padding: 0.1rem 0.7rem;
  border-radius: 1rem;
}
#answer {
  margin-top: 2.5rem;
}
#stat {
  margin-top: 1.5rem;
  color: rgb(6, 17, 168);
}
.buttonsCenter {
  padding: 12%;
}
.buttons {
  text-align: center;
}
.buttonsright {
  text-align: right;
  margin-top: -50px;
}
button {
  background: linear-gradient(to bottom, #ffb347, #ffcc33);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.orange {
  background: rgba(244, 115, 68, 0.98);
}
.green {
  background: rgba(77, 137, 74, 0.98);
}
.red {
  background: rgba(244, 68, 68, 0.98);
}
.gray-button {
  background-color: gray;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.site_column_menu {
  float: left;
  width: 100%;
  margin: auto auto;
  padding: 0px;
  text-align: center;
}
