<!DOCTYPE html>
<router-outlet>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-widht, initial-scale=1.0" />
    <title>Quiz Game</title>
  </head>
  <body>
    <h1 id="title">Quiz</h1>

    <div id="quiz-container">
      <div class="answers">
        <div id="questiontitle">
          Question:

          <div>{{ data?.questionText }}</div>

          <h2 id="answer"></h2>
          <ol type="A">
            <input  [(ngModel)]="userAnswer" type="text" class="option"/>
            <span id="option0"></span>
          </ol>
          <h4 id="start"></h4>
        </div>
      </div>
      <div class="buttons">
        <button type="button" class="next" (click)="AnswerButton()">Answer</button>
      </div>
    </div>
    <div id="scoreboard">
      <h2 id="score"></h2>
    </div>
  </body>
</html>
</router-outlet>
