<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-widht, initial-scale=1.0">
        <title> Quiz Game</title>
    </head>
    <body>

        <router-outlet></router-outlet>

      <h1 id="title"> Quiz Game</h1>
        <div class="buttons">
            <button type="button" class="next" (click)="startGame()">Start</button>
            <button type="button" class="next" (click)="addQuestion()">Create new question</button>
          </div>
      <div id="scoreboard">
        <h2 id="score"></h2>
      </div>
    </body>
</html>

